.proc {
  border-radius: 100%;
  max-width: 70%;
  height: auto;
}
.title {
  color: grey;
  font-size: 20px;
  text-align: center;
}
.foot {
  color: grey;
  font-size: 10px;
  text-align: center;
}
.head {
  color: white;
  font-size: 50px;
  text-align: center;
}
body {
  padding: 25px;
  background-color: #121212;
  color: black;
  font-family: 'Comic Neue';
  font-size: 22px;
  text-align: center;
}
a {
  text-decoration: none;
  font-size: 40px;
  color: white;
  text-align: center;
}
a:hover {
  text-decoration: underline;
}