body {
  font-size: 20px;
  text-align: center;
  padding: 25px;
  margin: 50px;
}
div {
  padding: 10px;
  margin: 25px;
}
@media (prefers-color-scheme: light) {
  body {
    color: black;
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}